<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pobs</title>
</head>
<body>
    <h1>
       {{name}}  
    </h1> 

    {% block overridable %} 
    <a href="/login">
        login
    </a>
    <a href="/sign">
        create an account
    </a>

    <div class="desc">
        you can post jobs offer here 
        you can apply for jobs offers here
    </div>
    {% endblock %} 

</body>
</html>