{% extends "base.html" %}

{% block overridable %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
    <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.accept_tos) }}
    </dl>
    <p><input type=submit value=login>
    </form>
{% endblock %}